# Development:

REACT_APP_API_URL=http://localhost:5000
# Docker:
# REACT_APP_API_URL=http://localhost:8081

# Production (change the example IP address with your own):

# REACT_APP_API_URL=http://192.168.1.2:5000
# Docker
# REACT_APP_API_URL=http://192.168.1.2:8081
